{{!-- search overlay --}}
<div id="search" class="page-overlay">
    <div class="search-overlay">
        <a class="overlay-close-self" href="#"></a>
        <a class="overlay-close-button" href="#"></a>
        <div id='search-container'>
            <form id="search-form" autocomplete="off">
                <input class="subscribe-email" id='search-field' placeholder='Search' type='text'
                    autocomplete="false" />
            </form>
            <section id="search-results"></section>
        </div>
    </div>
</div>