<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>New Resume</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/assets/css/resume-print.css?v=275dfa9f6c" media="print">
    <link rel="stylesheet" type="text/css" href="/assets/css/resume-screen.css?v=275dfa9f6c" media="screen">

    <link rel="canonical" href="https://www.kubernet.dev/resume/">
    <meta name="referrer" content="no-referrer-when-downgrade">
    
    <meta property="og:site_name" content="Kubernet">
    <meta property="og:type" content="website">
    <meta property="og:title" content="New Resume">
    <meta property="og:description" content="Justin VanWinkle


Technical Manager, Cloud-Native Solution Architect, Pilot



vanwinkle.justin@gmail.com
| 321-765-9267




Education


Master of Business Administration (in progress, 4.0 GPA), University of Illinois


Bachelor of Science, Computer Science, University of Maryland


Associate of Arts General Studies, Valencia College



Experience



PETE Learning


2023 - ? Head of Product

I">
    <meta property="og:url" content="https://www.kubernet.dev/resume/">
    <meta property="og:image" content="https://images.unsplash.com/photo-1532012197267-da84d127e765?crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;fm&#x3D;jpg&amp;ixid&#x3D;MnwxMTc3M3wwfDF8c2VhcmNofDV8fGJvb2t8ZW58MHx8fHwxNjYzODUxMDQ2&amp;ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;w&#x3D;2000">
    <meta property="article:published_time" content="2024-06-25T15:45:29.000Z">
    <meta property="article:modified_time" content="2024-06-26T01:56:28.000Z">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="New Resume">
    <meta name="twitter:description" content="Justin VanWinkle


Technical Manager, Cloud-Native Solution Architect, Pilot



vanwinkle.justin@gmail.com
| 321-765-9267




Education


Master of Business Administration (in progress, 4.0 GPA), University of Illinois


Bachelor of Science, Computer Science, University of Maryland


Associate of Arts General Studies, Valencia College



Experience



PETE Learning


2023 - ? Head of Product

I">
    <meta name="twitter:url" content="https://www.kubernet.dev/resume/">
    <meta name="twitter:image" content="https://images.unsplash.com/photo-1532012197267-da84d127e765?crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;fit&#x3D;max&amp;fm&#x3D;jpg&amp;ixid&#x3D;MnwxMTc3M3wwfDF8c2VhcmNofDV8fGJvb2t8ZW58MHx8fHwxNjYzODUxMDQ2&amp;ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;w&#x3D;2000">
    <meta name="twitter:label1" content="Written by">
    <meta name="twitter:data1" content="Justin VanWinkle">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1800">
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Article",
    "publisher": {
        "@type": "Organization",
        "name": "Kubernet",
        "url": "https://www.kubernet.dev/",
        "logo": {
            "@type": "ImageObject",
            "url": "https://www.kubernet.dev/favicon.ico",
            "width": 48,
            "height": 48
        }
    },
    "author": {
        "@type": "Person",
        "name": "Justin VanWinkle",
        "image": {
            "@type": "ImageObject",
            "url": "https://www.gravatar.com/avatar/741072868e9dc2a40d717db60fea4f42?s=250&r=x&d=mp",
            "width": 250,
            "height": 250
        },
        "url": "https://www.kubernet.dev/author/justin/",
        "sameAs": []
    },
    "headline": "New Resume",
    "url": "https://www.kubernet.dev/resume/",
    "datePublished": "2024-06-25T15:45:29.000Z",
    "dateModified": "2024-06-26T01:56:28.000Z",
    "description": "Justin VanWinkle\n\n\nTechnical Manager, Cloud-Native Solution Architect, Pilot\n\n\n\nvanwinkle.justin@gmail.com\n| 321-765-9267\n\n\n\n\nEducation\n\n\nMaster of Business Administration (in progress, 4.0 GPA), University of Illinois\n\n\nBachelor of Science, Computer Science, University of Maryland\n\n\nAssociate of Arts General Studies, Valencia College\n\n\n\nExperience\n\n\n\nPETE Learning\n\n\n2023 - ? Head of Product\n\nI do stuff here.\n\n\n\nBoxBoat, an IBM Company\n\n\n2021 - ? Engineering Manager and Solutions Architect\n\n\n * ",
    "mainEntityOfPage": "https://www.kubernet.dev/resume/"
}
    </script>

    <meta name="generator" content="Ghost 5.86">
    <link rel="alternate" type="application/rss+xml" title="Kubernet" href="https://www.kubernet.dev/rss/">
    <script defer src="https://cdn.jsdelivr.net/ghost/portal@~2.37/umd/portal.min.js" data-i18n="false" data-ghost="https://www.kubernet.dev/" data-key="f99c0653649eb3ab7d8011fe13" data-api="https://www.kubernet.dev/ghost/api/content/" crossorigin="anonymous"></script><style id="gh-members-styles">.gh-post-upgrade-cta-content,
.gh-post-upgrade-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
}

.gh-post-upgrade-cta-content {
    border-radius: 8px;
    padding: 40px 4vw;
}

.gh-post-upgrade-cta h2 {
    color: #ffffff;
    font-size: 28px;
    letter-spacing: -0.2px;
    margin: 0;
    padding: 0;
}

.gh-post-upgrade-cta p {
    margin: 20px 0 0;
    padding: 0;
}

.gh-post-upgrade-cta small {
    font-size: 16px;
    letter-spacing: -0.2px;
}

.gh-post-upgrade-cta a {
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    box-shadow: none;
    text-decoration: underline;
}

.gh-post-upgrade-cta a:hover {
    color: #ffffff;
    opacity: 0.8;
    box-shadow: none;
    text-decoration: underline;
}

.gh-post-upgrade-cta a.gh-btn {
    display: block;
    background: #ffffff;
    text-decoration: none;
    margin: 28px 0 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}

.gh-post-upgrade-cta a.gh-btn:hover {
    opacity: 0.92;
}</style><script async src="https://js.stripe.com/v3/"></script>
    <script defer src="https://cdn.jsdelivr.net/ghost/sodo-search@~1.1/umd/sodo-search.min.js" data-key="f99c0653649eb3ab7d8011fe13" data-styles="https://cdn.jsdelivr.net/ghost/sodo-search@~1.1/umd/main.css" data-sodo-search="https://www.kubernet.dev/" crossorigin="anonymous"></script>
    
    <link href="https://www.kubernet.dev/webmentions/receive/" rel="webmention">
    <script defer src="/public/cards.min.js?v=275dfa9f6c"></script>
    <link rel="stylesheet" type="text/css" href="/public/cards.min.css?v=275dfa9f6c">
    <script defer src="/public/comment-counts.min.js?v=275dfa9f6c" data-ghost-comments-counts-api="https://www.kubernet.dev/members/api/comments/counts/"></script>
    <script defer src="/public/member-attribution.min.js?v=275dfa9f6c"></script><style>:root {--ghost-accent-color: #0b7dfd;}</style>
    <meta name="google-adsense-account" content="ca-pub-3444778198114809">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CQB970WYH4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-CQB970WYH4');
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3444778198114809"
     crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" integrity="sha512-vswe+cgvic/XBoF1OcM/TeJ2FW0OofqAVdCZiEYkd6dwGXthvkSFWOoGGJgS2CW70VK5dQM5Oh+7ne47s74VTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-highlight/prism-line-highlight.min.css" integrity="sha512-nXlJLUeqPMp1Q3+Bd8Qds8tXeRVQscMscwysJm821C++9w6WtsFbJjPenZ8cQVMXyqSAismveQJc0C1splFDCA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Start cookieyes banner --> 
<script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/f2f5819be742cdecc89b06c9/script.js"></script>
<!-- End cookieyes banner -->

</head>

<body class="page-template page-resume">

    <div id="main">
        <div id="content">
            
<main id="site-main" class="site-main outer">
  <div class="inner">

    <article class="post-full post no-image no-image">

      <header class="post-full-header">
      </header>


      <section class="post-full-content">
        <div class="post-content">
          <h1 id="justin-vanwinkle">Justin VanWinkle</h1>
<p>Technical Manager, Cloud-Native Solution Architect, Pilot</p>
<div id="webaddress">
<a href="/cdn-cgi/l/email-protection#6214030c150b0c090e074c081711160b0c22050f030b0e4c010d0f"><span class="__cf_email__" data-cfemail="acdacdc2dbc5c2c7c0c982c6d9dfd8c5c2eccbc1cdc5c082cfc3c1">[email&#160;protected]</span></a>
| <a href="tel:3217659267">321-765-9267</a>
</div>
<h2 id="education">Education</h2>
<p><strong>Master of Business Administration</strong> (in progress, 4.0 GPA), University of Illinois</p>
<p><strong>Bachelor of Science, Computer Science</strong>, University of Maryland</p>
<p><strong>Associate of Arts General Studies</strong>, Valencia College</p>
<h2 id="experience">Experience</h2>
<h3 id="pete-learning">PETE Learning</h3>
<p><code>2023 - ?</code> <strong>Head of Product</strong><br>
I do stuff here.</p>
<h3 id="boxboat-an-ibm-company">BoxBoat, an IBM Company</h3>
<p><code>2021 - ?</code> <strong>Engineering Manager and Solutions Architect</strong></p>
<ul>
<li>Provide high-level technical direction and solution design for teams of 5-10 people on contracts greater than $1M.</li>
<li>Assess software delivery practices and provide recommendations for process enhancement to Fortune 500 companies.</li>
<li>Guide a product roadmap to lead a team of 5-10 engineers toward the Cloud-Native Academy (CNA) product vision.</li>
<li>Orchestrate consulting teams to collaborate on content creation.</li>
<li>Oversee seamless uptime for CNA, a cloud-native SaaS platform, through feature additions and bug fixes.</li>
</ul>
<p><code>2020 - 2021</code> <strong>Solutions Architect (Contract) - <em>Optum</em></strong></p>
<ul>
<li>Guided four software teams of over 20 engineers and testers through a successful migration of on-premises SaaS applications to Azure Kubernetes Service.</li>
<li>Designed and lead the implementation of Kubernetes clusters to include security, capacity planning, and much more.</li>
<li>Trained engineers on the principles of application containerization and oversaw refactoring and implementation.</li>
</ul>
<p><code>2018 - 2020</code> <strong>DevOps and Azure Consultant - <em>New Signature</em></strong><br>
As a DevOps Consultant, I coached, educated, and assisted I.T. organizations of all sizes in accelerating their value delivery to end users. When compared to their low-performing peers, the effects of my hands-on advisory services on I.T. organizations that achieved elite performance resulted in:</p>
<ul>
<li>Increased throughput
<ul>
<li>Deployments to production 208 times more frequently</li>
<li>106 times shorter lead times for changes (commit to deploy)</li>
</ul>
</li>
<li>Greater stability
<ul>
<li>Incident recovery at a rate of 2604 times faster</li>
<li>86% less likely change failure</li>
</ul>
</li>
</ul>
<p>During my time in this role, I guided clients through:</p>
<ul>
<li>Cloud migrations, including planning, building, and transitioning.</li>
<li>Implementing a vast array of Azure technologies, including (but not limited to):
<ul>
<li>Azure Kubernetes Service.</li>
<li>Application Insights.</li>
<li>PaaS, IaaS, and CaaS offerings.</li>
<li>Azure managed database offerings.</li>
<li>Azure API Management.</li>
<li>Azure DevOps (formerly VSTS).</li>
</ul>
</li>
<li>Building full CI/CD pipelines to support rapid iteration with maximum safety and minimal friction between code commit and production. Full pipelines included things such as:
<ul>
<li>Automated testing (All types of tests).</li>
<li>Provisioning of infrastructure (Declarative infrastructure as code).</li>
<li>Build and deployment of code.</li>
</ul>
</li>
<li>Adoption and implementation of new features, processes, and tooling.</li>
<li>Transitions from on-premises to IaaS to PaaS to Kubernetes.</li>
</ul>
<p>In addition to the above, I performed multiple DevOps assessments on entire organizations to analyze their posture for effectively delivering high-quality software at a fast pace with extreme stability. The output of these assessments included my targeted recommendations and roadmaps for the implementation of improvements in areas such as infrastructure, architecture, tooling, and processes. These DevOps assessments were the entry-point to long-term client relationships in which I guided clients through increasing their delivery capabilities while measuring their success.</p>
<p>All of this work has allowed me the opportunity to truly know what it takes to create an elite-performing I.T. organization and how to implement a DevOps culture to facilitate it.</p>
<p><code>2018 - 2020</code> <strong>(Acquired by New Signature)</strong><br>
<strong>Cloud-First Software Engineer, Azure and DevOps Consulting - <em>Nebbia Technology</em></strong><br>
The focus of Nebbia was DevOps and Azure adoption. As a software engineer and consultant, my primary role was to assist customers in their DevOps and cloud journey by providing education, guidance, and development around:</p>
<ul>
<li>Creating a DevOps culture</li>
<li>Building scalable microservices</li>
<li>Containerization using Docker</li>
<li>Driving adoption and implementation Docker Swarm and Kubernetes</li>
<li>Implementing CI/CD Pipelines</li>
<li>Transforming business and development processes for faster and more stable software delivery</li>
</ul>
<p><code>2017 - 2018</code> <strong>Software Engineer - <em>Switchboard Live</em></strong><br>
Switchboard is a live streaming startup that I joined as the first employee.  During my time at Switchboard, I covered many roles between development, operations, and infrastructure. Some of the relevant duties I performed included:</p>
<ul>
<li>Led a team of 4 developers in creation and continued maintenance of a developer API</li>
<li>Served as a developer for multiple microservices APIs</li>
<li>Implemented CI/CD for all projects</li>
<li>Revamped critical infrastructure to use container orchestration &amp; more.</li>
<li>Developed several internal developer support tools to improve developer experience.</li>
</ul>
<p><code>2016 - 2017</code> <strong>Full-Stack Software Engineer - <em>Wycliffe Associates</em></strong><br>
Wycliffe Associates is heavy on processing payments. Upon joining, I was asked to single-handedly build a donation system that allowed donors to give money with absolute minimal friction. This was a full-stack challenge at its finest. Components of this system that I built included:</p>
<ul>
<li>Prototype/proof of concept</li>
<li>Web API that received and stored payment information and user data (PCI compliant)</li>
<li>Web application for managing marketing campaigns</li>
<li>A CMS-based website for donation landing pages</li>
<li>Docker containers for dependency packaging</li>
<li>CI/CD Pipelines</li>
</ul>
<p><code>2015 - 2016</code> <strong>Full-Stack Software Engineer - <em>Cru</em></strong><br>
The team I joined at Cru was a tactical team for spear-heading internal projects. During my time there, I accomplished many things including:</p>
<ul>
<li>A complete rebuild of the jesusfilm.org website and the APIs the backend that supports the website.</li>
<li>Feature additions to a monolithic REST API</li>
<li>Developed native Android application with advanced hardware-level features</li>
<li>Process automation and streamlining via scripting</li>
</ul>
<p><code>2012 - 2015</code> <strong>Software Engineer - <em>Northrop Grumman</em></strong><br>
The project that I served at Northrop Grumman was focused on software that monitored and altered mission-critical signals from sattelites around the globe.</p>
<ul>
<li>Developed features and algorithms for spectral analysis of sattelite signals</li>
<li>Implemented unit testing</li>
<li>Built graphing functionality for signals</li>
</ul>
<p><code>2008 - 2012</code> <strong>Aircraft Mechanic - <em>US Air Force</em></strong></p>
<ul>
<li>Section Manager</li>
<li>Combat Aid and CPR Instructor</li>
<li>Flight Program Developer</li>
</ul>
<p><code>2004 - 2008</code> <strong>Electrical Engineering Tech - <em>Lexmark International</em></strong></p>
<ul>
<li>Circuit Design &amp; Modification</li>
<li>Hardware &amp; Embedded Programming</li>
</ul>
<h2 id="proficiencies">Proficiencies</h2>
<p><code>Languages</code> C#, SQL, Bash, Powershell, Javascript, and more</p>
<br>
<p><code>Tooling</code> Kubernetes, Docker/Containerization, Azure, Jenkins, Azure DevOps, Linux, Git, Feature Flags, Redis</p>
<br>
<p><code>Concepts</code> Microservices, Testing, DevOps, Ring-Based Deployments, Zero-Downtime Deployments, Continuous Integration, Continuous Deployment, Scrum</p>

        </div>
      </section>

    </article>

  </div>
</main>

        </div>
    </div>

    

    <!-- Open links in new tab -->
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type='text/javascript'>
  $( document ).ready(function() {
  	$(".post section p a").attr("target","_blank");
  });
</script>


<!-- Prism.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js" integrity="sha512-7Z9J3l1+EYfeaPKcGXu3MS/7T+w19WtKQY/n+xzmw4hZhJ9tyYmcUS+4QqAlzhicE5LAfMQSF3iFTK9bQdTxXg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-SkmBfuA2hqjzEVpmnMt/LINrjop3GKWqsuLSSB3e7iBmYK7JuWw4ldmmxwD9mdm2IRTTi0OxSAfEGvgEi0i2Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!--
<div class="intravert-space" id="space-0340d72481437"></div>
<script defer src="https://intravert.co/serve/0340d72481.437.js"></script>
-->

</body>

</html>
